/* RESET ****************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ * v2.0 | 20110126 * License: none (public domain) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul,menu{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


/* BASIC **********************/
body,textarea,input{
	font:15px/1.4em Arial, Helvetica, sans-serif;
}
textarea{
	resize:none;
}
h1{
	font: 45px/20px monospace;
	font-weight: bold;
	padding:10px 0 0;
	display:inline-block;
	width: 200px;
	text-align:center;
}
h1 span{
	font-size: 13px;
	line-height:19px;

	display:inline-block;
}
h4{
	font-size: 10px;
	line-height: 12px;
}
.btn{
	display: inline-block;
	padding:0 10px;
	background:#999;
	border:solid 1px #FFF;
	line-height: 25px;
	color:#FFF;
	text-decoration:none;
	
	border-radius:5px;
	box-shadow:0 1px 3px rgba(0,0,0,.3);
}
.btn:hover{
	background:#AAA;
}
.btn:active{
	background:#666;
}
/* Layout */

#toolbar,
#copy-area,
#div-ctrl,
#write-area,
#write-input,
#status{
	position:absolute;
}

#toolbar{
	top:0;left:0;right:0;

	height:59px;
	
	background: #EEE;
	border-bottom: solid 1px #CCC;
}

#copy-area{
	top:60px;left:0;bottom:15px;
	padding:20px;
	width:360px;
}

#div-ctrl{
	top:60px;left:400px;bottom:15px;z-index:999;
	
	width:8px;
	background: #EEE;
	border-left: solid 1px #CCC;
	border-right: solid 1px #CCC;
	cursor: w-resize;
}
#write-area{
	top:60px;left:410px;bottom:15px;
	right:0;
}
#status{
	left:0;right:0;bottom:0;
	height:14px;
	background: #EEE;
	border-top: solid 1px #CCC;
}

/* TEXTAREA */
#write-input{
	top:1%;
	bottom:1%;
	left:1%;
	right:1%;
	overflow-y: scroll;
	width: 98%;
	height: 96%;
	border:none;
}

/* TOOLBAR*/
.col{
	float:left;
	padding: 0 30px;
	height:59px;
	border-right: dotted 1px #CCC;
}
label{
	display: block;
}
#enter-text-copy{
	height:20px;
	width:150px;
}
.btn-ok{
	position:relative;
	top:-5px;left:5px;
}

.btn-record,
.btn-reset{
	margin-top:15px;
}
.btn-record{
	background:#290;
}
.btn-recording{
	background:#920;
}

#wpm{
	background: #FFF;
	color:#290;
	font-size:30px;
	font-weight:bold;
	text-align:center;
	line-height:38px;
	border:solid 1px #CCC;
	width:100px;
}


















